body{
    background: #DCE35B;  
    background: -webkit-linear-gradient(to bottom, #45B649, #DCE35B); 
    background: linear-gradient(to bottom, #45B649, #DCE35B); 

    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    
}